<a href="{{ path('good_info', {'id': item.id}) }}" class="thumbnail thumbnail-item">
	<img src="{{ item.preview }}" class="img-rounded" width="300" height="200">
	<div class="caption">
		<p class="text-center">{{ item.name }}</p>
	</div>
</a>