<div class = "menu_block shadow">
    <div class = "menu_block_header">
        {% block menu_block_header %}Название меню{% endblock %}
    </div>
    <div class = "menu_block_content">
        {% block menu_block_content %}Содержание блока{% endblock %}
    </div>
</div>